[submodule "backend"]
	path = backend
	url = https://github.com/ultraluminar/Fullstack-2024w-Backend

[submodule "frontend"]
	path = frontend
	url = https://github.com/ultraluminar/Fullstack-2024w-Frontend
[submodule "interface"]
	path = interface
	url = https://github.com/ultraluminar/Fullstack-2024w-Interface.git
